.modal
{
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 top: 50%;
 left: 50%;
 right: auto;
 bottom: auto;
 margin-right: -50%;
 transform: translate(-50%, -50%);
 background-color: black;
 padding: 10px;
 gap: 5px;
 box-shadow: var(--box-shadow);
}

.titleModal {
  margin-top: 10px;
  text-shadow: var(--text-shadow);
}

.modalButtons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modalButtons .buttonSim {
  cursor: pointer;
  border: 2px solid blue;
  padding: 2px;
}

.modalButtons .buttonSim:hover {
  background-color: var(--terciary-color);
  color: white;
}

.modalButtons .buttonNao {
  cursor: pointer;
  border: 2px solid red;
  padding: 2px;
}

.modalButtons .buttonNao:hover {
  background-color: var(--terciary-color);
  color: white;
}