.editButton button
{
 min-width:  fit-content;
 min-height: fit-content;
 height: 25px;
 width: 25px;
 color: blue;
 border: solid 3px blue;
 margin: 5px;
 cursor:pointer ;
}

.editButton button:hover
{
 background-color: var(--terciary-color);
}