.productDetail
{
 display: flex;
 flex-direction: column;
 padding: 10px;
 width: 100%;
 justify-content: center;
 align-items: center;
}

.containerProduct
{
 display: flex;
 width:50%;
 flex-direction: column;
 box-shadow: var(--box-shadow);
 padding: 10px;
 gap: 5px;
 text-align: center;
}

.containerProduct div
{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 10px;
}

.productDetail p
{
 font-size: 20px;
}