header
{
 width: 100%;
 display: flex;
 justify-content: flex-start;
 box-sizing: border-box;
 padding: 10px;
 background-color: var(--primary-color);
 border: 3px solid var(--secondary-color);
 text-align: center;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

header h1
{
 font-size: 25px;
 font-family: var(--font-name);
 text-shadow: var(--text-shadow);
}

.header nav
{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-direction: row;
 
 
 width: 100%;
}

.header nav .link
{
 text-decoration: none;
 color: white;
 font-size: 21px;
 font-weight: bold;
}

.header nav .link:hover
{
 color: black;
 font-weight: bolder;
 text-shadow: var(--text-shadow);
}